.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1:first-of-type {
  font-family: cursive;
  font-size: 750%
}

h2:first-of-type {
  font-family: 'Times New Roman', Times, serif;
  font-size: 500%;
  color: rgb(37, 9, 9);
}

h3:first-of-type {
  font-family: 'Times New Roman', Times, serif;
  font-size: 350%;
  color: rgb(37, 9, 9);
  border-color: whitesmoke;
}

article p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
}

article > img {
  float:left;
}

div p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 200%;
  color:rgb(37, 9, 9);
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
  background-repeat: no-repeat;
  background-size: 2000px 500px;
}

h3 + div {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 200%;
  color:rgb(37, 9, 9);
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

section h5 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 500%;
  color: rgb(37, 9, 9);
}

section header {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}